<div class="grid grid-cols-1 bg-[url(/images/bg-auth.jpg)] lg:grid-cols-2">
  <div class="flex h-screen flex-col bg-white px-5 lg:px-28">
    <div class="py-0 lg:py-5">
      <%= image_tag "logo.svg", class: "w-50 hidden lg:block" %>
    </div>
    <%= form_with url: session_path, class: "flex h-full flex-col lg:justify-center gap-5" do |form| %>
      <div class="flex flex-col gap-2">
        <div class="py-10 flex justify-center lg:py-0 lg:hidden">
          <%= image_tag "logo.svg", class: "w-48" %>
        </div>
        <h1 class="text-4xl font-semibold text-gray-700">Sign In</h1>
        <span class="text-sm text-gray-500"> Enter your email and password to sign in! </span>
      </div>
      <div>
        <%= render(Ui::LabelInputComponent.new(form: form, field_name: "email_address", label: "Email Address", required: true)) %>
        <%= render(Ui::EmailInputComponent.new(form: form, field_name: "email_address", class: "mt-2", autofocus: true, value: params[:email_address])) %>
        <%= tag.div(flash[:alert], class: "text-sm text-red-500 mt-1") if flash[:alert] %>
      </div>
      <div>
        <%= render(Ui::LabelInputComponent.new(form: form, field_name: "password", label: "Password", required: true)) %>
        <%= render(Ui::PasswordInputComponent.new(form: form, field_name: "password", class: "mt-2")) %>
      </div>
      <div class="flex items-center justify-between">
        <%= render(Ui::CheckboxInputComponent.new(form: form, field_name: "remember_me", label: "Remember Me")) %>
        <a href="#" class="text-sm text-blue-600 hover:underline">Forgot password?</a>
      </div>
      <%= render(Ui::ButtonComponent.new(type: :submit, variant: "primary").with_content("Log In")) %>
    <% end %>
  </div>
  <div class="hidden lg:relative lg:block">
    <%= image_tag "bg-auth.jpg", class: "h-full w-full object-cover" %>
    <div class="bg-opacity-50 absolute inset-0 bg-blue-50 mix-blend-multiply"></div>
  </div>
</div>