<tr class="bg-white last:border-b-0 hover:bg-gray-50 border-b border-b-gray-300">
  <td class="px-6 py-4 whitespace-nowrap font-normal text-gray-700">
    <%= pagy.offset + index + 1 %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap font-normal text-gray-700">
    <%= product.name %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap font-normal text-gray-700">
    <%= format_price(product.cost_price) %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap font-normal text-gray-700">
    <%= format_price(product.selling_price) %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap font-normal text-gray-700 flex gap-2">
    <%= link_to edit_super_admin_product_path(product), class: "text-secondary-700 hover:text-secondary-900" do %>
      <%= lucide_icon("pencil", class: "size-5") %>
    <% end %>
    <%= render(DialogComponent.new) do |dialog| %>
      <%= dialog.trigger do %>
        <button type="button" class="flex text-secondary-700 hover:text-secondary-900 cursor-pointer" data-action="dialog#open">
          <%= lucide_icon("trash-2", class: "size-5") %>
        </button>
      <% end %>
      <%= dialog.header do %>
        <p class="text-sm text-gray-700">Are you sure?</p>
      <% end %>
      <%= dialog.body do %>
        <span class="text-gray-700">
          Are you sure you want to delete this product
          <span class="font-semibold">
            "<%= product.name %>"
          </span>?
        </span>
      <% end %>
      <%= dialog.footer do %>
        <%= render(Ui::ButtonComponent.new(type: "button", size: "sm", variant: "light", data: { action: "dialog#close" }).with_content("Cancel")) %>
        <%= button_to "Delete", super_admin_product_path(product), method: :delete, class: "focus:ring-4 font-medium rounded-full focus:outline-none cursor-pointer text-white bg-danger-500 hover:bg-danger-700 focus:ring-danger-300 px-3 py-2 text-sm" %>
      <% end %>
    <% end %>
  </td>
</tr>