<div class="flex items-center justify-between">
  <div class="flex gap-4 items-center">
    <%= render(Ui::ButtonLinkComponent.new(size: "sm", variant: "light", url: super_admin_ingredient_stocks_path)) do %>
      <%= lucide_icon("chevron-left", class: "size-5") %>
    <% end %>
    <h2 class="text-xl font-bold text-gray-700">New Ingredient Stock</h2>
  </div>
  <div class="hidden lg:block">
    <%= render(Ui::BreadcrumbComponent.new) do %>
      <%= render(Ui::BreadcrumbItemComponent.new(url: super_admin_dashboard_path, icon: "layout-grid", name: "Dashboard")) %>
      <%= render(Ui::BreadcrumbItemComponent.new(url: super_admin_ingredient_stocks_path, name: "Ingredient Stocks")) %>
      <%= render(Ui::BreadcrumbItemComponent.new(name: "New Ingredient Stock", last: true)) %>
    <% end %>
  </div>
</div>
<%= render "form", url: super_admin_ingredient_stocks_path, ingredient_stock: @ingredient_stock %>